#tab td {
    line-height: 1.5em;
    border: 1px solid black;
}
#tab th{
 
    border: 1px solid black;
}


/* #name{
    width: 25% ;
} */
#color{
    width: 7%;
}
#category{
    width: 10%;
}
#brand{
    width: 10% ;
}
#price{
    width : 5%;
}
#genre{
    width: 2% ;
}
#stock{
    width : 3%;
}
#edit{
    width: 2vw;
}
#modify{
    width: 50px ; 
}
